version: "3.9"

services:
  frontend:
    build: ./
    container_name: react_frontend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - VITE_API_URL=http://backend:8000
    depends_on:
      - backend

  backend:
    build: ./python
    container_name: python_backend
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
